[Desktop Entry]
Categories=Game;
Comment[ru_RU]=World of sea battle
Comment=World of sea battle
Exec=AppRun
GenericName[ru_RU]=
GenericName=
Icon=Wosb
MimeType=
Name[ru_RU]=Wosb
Name=Wosb
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
